## 1.4 PythonのデータオブジェクトとDataFrameとの相互変換

In [1]:
import pandas as pd
import numpy as np

data = np.arange(12).reshape(3, 4)

df = pd.DataFrame(
    data,
    columns=['A', 'B', 'C', 'D'],
    index=['a', 'b', 'c'],
    dtype='int8'
)

df

   A  B   C   D
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

In [2]:
df.dtypes

A    int8
B    int8
C    int8
D    int8
dtype: object

In [3]:
df.to_numpy()

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]], dtype=int8)

In [4]:
data = [
    [0, 1, 2, 3],
    [4, 5, 6, 7],
    [8, 9, 10, 11]
]

df = pd.DataFrame(
    data,
    columns=['A', 'B', 'C', 'D'],
    index=['a', 'b', 'c']
)

df

   A  B   C   D
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

In [5]:
df.to_numpy().tolist()

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11]]

In [6]:
df = pd.DataFrame(
    data={
        'A': [0, 4, 8],
        'B': [1, 5, 9],
        'C': [2, 6, 10],
        'D': [3, 7, 11]
    },
    index=['a', 'b', 'c']
)

df

   A  B   C   D
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

In [7]:
df = pd.DataFrame(
    {
        'A': {'a': 0, 'b': 4, 'c': 8},
        'B': {'a': 1, 'b': 5, 'c': 9},
        'C': {'a': 2, 'b': 6, 'c': 10},
        'D': {'a': 3, 'b': 7, 'c': 11}
    }
)

df

   A  B   C   D
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

In [8]:
df.to_dict()

{'A': {'a': 0, 'b': 4, 'c': 8},
 'B': {'a': 1, 'b': 5, 'c': 9},
 'C': {'a': 2, 'b': 6, 'c': 10},
 'D': {'a': 3, 'b': 7, 'c': 11}}

In [9]:
df.to_dict(orient='list')

{'A': [0, 4, 8], 'B': [1, 5, 9], 'C': [2, 6, 10], 'D': [3, 7, 11]}

In [10]:
df.to_dict(orient='series')

{'A': a    0
 b    4
 c    8
 Name: A, dtype: int64,
 'B': a    1
 b    5
 c    9
 Name: B, dtype: int64,
 'C': a     2
 b     6
 c    10
 Name: C, dtype: int64,
 'D': a     3
 b     7
 c    11
 Name: D, dtype: int64}

In [11]:
df.to_dict(orient='split')

{'index': ['a', 'b', 'c'],
 'columns': ['A', 'B', 'C', 'D'],
 'data': [[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11]]}

In [12]:
df.to_dict(orient='records')

[{'A': 0, 'B': 1, 'C': 2, 'D': 3},
 {'A': 4, 'B': 5, 'C': 6, 'D': 7},
 {'A': 8, 'B': 9, 'C': 10, 'D': 11}]