# 第1章　表形式データの基本

## 1.1 pandasの表形式データを構成する要素

In [1]:
import pandas as pd
import numpy as np 

df = pd.DataFrame(
    {
        'A': ('Alfa', 'Bravo', 'Charlie', 'Delta', 'Echo'),
        'B': [1, 10, 100, 1000, 10000],
        'C': np.linspace(0, 2, 5),
    },
    index=('a', 'b', 'c', 'd', 'e')
)

df

         A      B    C
a     Alfa      1  0.0
b    Bravo     10  0.5
c  Charlie    100  1.0
d    Delta   1000  1.5
e     Echo  10000  2.0

In [2]:
df['B']

a        1
b       10
c      100
d     1000
e    10000
Name: B, dtype: int64

In [3]:
df.loc['c']

A    Charlie
B        100
C        1.0
Name: c, dtype: object

In [4]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [5]:
df.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [6]:
df.values

array([['Alfa', 1, 0.0],
       ['Bravo', 10, 0.5],
       ['Charlie', 100, 1.0],
       ['Delta', 1000, 1.5],
       ['Echo', 10000, 2.0]], dtype=object)