## 4.3 重複行の削除

In [1]:
import pandas as pd

df = pd.DataFrame({
    'A': [10, 20, 20, 30, 40, 40, 40],
    'B': [100, 100, 200, 300, 300, 300, 300],
    'C': [1000, 1000, 1000, 2000, 3000, 3000, 3000]
})

df

    A    B     C
0  10  100  1000
1  20  100  1000
2  20  200  1000
3  30  300  2000
4  40  300  3000
5  40  300  3000
6  40  300  3000

In [2]:
df.duplicated()     # duplicated(keep='first')と同じ

0    False
1    False
2    False
3    False
4    False
5     True
6     True
dtype: bool

In [3]:
df.duplicated(keep='last')

0    False
1    False
2    False
3    False
4     True
5     True
6    False
dtype: bool

In [4]:
df.duplicated(keep=False)

0    False
1    False
2    False
3    False
4     True
5     True
6     True
dtype: bool

In [5]:
df.duplicated(subset='A')

0    False
1    False
2     True
3    False
4    False
5     True
6     True
dtype: bool

In [6]:
df.duplicated(subset='C', keep='last')

0     True
1     True
2    False
3    False
4     True
5     True
6    False
dtype: bool

In [7]:
df.duplicated(subset=['A', 'B'], keep='last')

0    False
1    False
2    False
3    False
4     True
5     True
6    False
dtype: bool

In [8]:
df_drop = df.drop_duplicates()  # drop_duplicates(keep='first')と同じ

df_drop

    A    B     C
0  10  100  1000
1  20  100  1000
2  20  200  1000
3  30  300  2000
4  40  300  3000

In [9]:
df_drop = df.drop_duplicates(subset='A', keep='first')

df_drop

    A    B     C
0  10  100  1000
1  20  100  1000
3  30  300  2000
4  40  300  3000

In [10]:
df_drop = df.drop_duplicates(subset='A', keep='last')

df_drop

    A    B     C
0  10  100  1000
2  20  200  1000
3  30  300  2000
6  40  300  3000

In [11]:
df_drop = df.drop_duplicates(subset=['B', 'C'], keep='last')

df_drop

    A    B     C
1  20  100  1000
2  20  200  1000
3  30  300  2000
6  40  300  3000

In [12]:
df_drop = df.drop_duplicates(
    subset='A',
    keep='first',
    ignore_index=True
)

df_drop

    A    B     C
0  10  100  1000
1  20  100  1000
2  30  300  2000
3  40  300  3000